body {
	font-family: sans-serif;
	width: 100%;
	color: white;
	background: #444;
}

body > header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: black;
	color: white;
	z-index: 2;
	padding: 10px;
	
}

body > header h1 {
	font-style: italic;
	font-size: 24pt;
	font-weight: bold;
	margin-bottom: 20px;
}

h1 {
	font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
	font-size: 20pt;
}

h2, h3 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h2 {
	font-size: 16pt;
}

h3 {
	font-size: 14pt;
}

header > nav ul {
	position: static;
	padding: 0;
}

.error {
	color: red;
	background-color: pink;
}

body > header nav li {
	display: inline;
	list-style: none;
	margin-right: 10px;
	float: left;
}

nav a {
	color: gray;
}

nav a:visited, nav a:active {
	color: white;
}

li.user_info {
	float: right;
	list-style: none;
}

.content {
	position: absolute;		
	top: 95px;
	width: 100%;
	margin-left: 10px;
	background: #555;
}

.book_list {
	margin: 20px 0;
}

.content a.action {
	font-size: smaller;
	text-decoration: underline;
}

.content .breadcrumb {
	font-size: smaller;
	text-decoration: underline;
}

h1, h2, h3 {
	text-shadow: #555 2px -2px 2px;
}

.entry_date {
	float: right;
	width: 20%;
}

.entry_date li {
	margin-left: 15px;
	display: block;
}

.entry_detail h2 {
	font-size: 16pt;
}

.content a {
	text-decoration: none;
	color: white;
}

.content a:hover {
	text-decoration: underline;
}

.content form {
	background: #999;
	color: black;
	padding: 10px;
	width: 95%;
}

.content form h2 {
	text-shadow: none;
}

/* .content form input, .content form textarea, .content form select {
	margin: 10px 0;
} */

.content label {
	min-width: 90px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
	/* margin: 10px 0; */
}

table.form {
	margin: 10px 0;
}

table.form input {
	margin: 0;
}

table.form td, table.form th {
	padding: 0 10px;
	vertical-align: top;
}

table.form td.sort_handle {
	padding: 0;
}

.map {
	padding: 30px 0;
}

.map_wrapper {
	width: 90%;
	height: 400px;
	margin: auto;
	position: relative;
	border: 8px solid #FBF8EF;
}

.map_canvas {
	width: 100%;
	height: 100%;
}

.photo_corners:before {
	content: "";
	position: absolute;
	top: -19px;
	left: -38px;
	background-image: url('images/photo_corners.png');
	/* background-position: 0 -163px; */
	background-repeat: no-repeat;
	width: 92px;
	height: 76px;
	z-index: 1;
	background-size: 196px;
}

.photo_corners:after {
	content: "";
	position: absolute;
	bottom: -15px;
	right: -15px;
	background-image: url('images/photo_corners.png');
	background-repeat: no-repeat;
	background-position: -115px -70px;
	width: 62px;
	height: 66px;
	background-size: 196px;
}

.header, .map, .book_entries, .book_header {
	background: #444;
}

.book_entries {
	float: left;
	width: 80%;
}

.book_entries article {
	border-top: 1px dotted white;
	padding: 20px 0;
	margin: 0 20px;
	clear: left;
}

.content > header, .book_entries > header {
	padding-left: 20px;
}

.book_entries article header {
	margin-bottom: 20px;
	padding-left: 10px;
}

.footer {
	clear: both;
}

.body {
	/* background: #FFE; */
	padding: 10px;
	width: 95%;
}

.clearfix:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

.checkin, .subheader {
	font-style: italic;
	color: gray;
	font-size: 10pt;
}

.description {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.description p {
	/* font-family: serif; */
	margin-bottom: 1em;
	text-align: justify;
	/* margin-left: 0; */
	padding: 0;
	width: 90%;
}

.description a {
	/* font-family: serif; */
	text-decoration: underline;
}

.book_entries .thumbnail img {
	max-height: 200px;
	max-width: 200px;
}

.book_entries .body img {
	float: left;
	margin: 0 10px 10px 0;
	border: 5px solid #FBF8EF;
	border-bottom-width: 20px;
}

.content > header h1, .entry_header h1 {
	padding-top: 20px;
}

.entry_header h1 a {
	text-decoration: none;
}

.entry_header h1 a:hover {
	text-decoration: underline;
}

.gallery {
	margin: 20px 0 20px 0;
}

.gallery li {
	float: left;
	list-style-type: none;
	margin-right: 5px;
}

.gallery img {
	height: 200px;
	border: 4px solid #FBF8EF;
}

.gallery .cover_photo img {
	height: 400px;
}

.entry_detail .description {
	clear: both;
}

img.preview {
	max-width: 100px;
	max-height: 50px;
}

.checkin.imported {
	font-style: italic;
}

#debuginfo {
	background-color: yellow;
}

#media {
	position: fixed;
	z-index: 3;
	left: 200px;
}

@media screen and (min-width: 900px) {
	#media:after {
		content: "Desktop";
	}
}

@media screen and (max-device-width: 480px) {
	#media:after {
		content: "iPhone";
	}
}

@media screen and (max-device-width: 1024px); {
	#media:after {
		content: "iPad";
	}
}